<style>
    .tree {

    }

</style>
<aside id="sidebar">
<div class="tree">
    <ul class="wrap">
        <h1>Category</h1>
        <li><a class="cat-title">安装与升级</a>
            <ul>
                <li><a href="<%= root_path %>/Initialization/1-install/index.html">安装</a></li>
                <li><a href="<%= root_path %>/Initialization/2-currentCommands/index.html">查看命令列表</a></li>
                <li><a href="<%= root_path %>/Initialization/3-commandsHelp/index.html">查看命令帮助</a></li>
                <li><a href="<%= root_path %>/Initialization/4-update/index.html">升级</a></li>
            </ul>
        </li>

        <li><a class="cat-title">包管理</a>
            <ul>
                <li><a href="<%= root_path %>/Package-management/1-reasonofPackMngm/index.html">为什么要进行包管理</a></li>
                <li><a href="<%= root_path %>/Package-management/2-findCurrPack/index.html">查找当前存在的包</a></li>
                <li>
                    <a class="cat-title" href="<%= root_path %>/Package-management/3-instlAndUse/index.html">导入与使用包</a>
                    <ul>
                        <li><a href="<%= root_path %>/Package-management/3-instlAndUse/index.html#导入包的最新版">导入包的最新版</a></li>
                        <li><a href="<%= root_path %>/Package-management/3-instlAndUse/index.html#导入指定版本的包">导入指定版本的包</a></li>
                    </ul>
                </li>
                <li><a class="cat-title" href="<%= root_path %>/Package-management/4-updatePack/index.html">升级包</a>
                    <ul>
                        <li><a href="<%= root_path %>/Package-management/4-updatePack/index.html#升级指定包">升级指定包</a></li>
                        <li><a href="<%= root_path %>/Package-management/4-updatePack/index.html#升级所有包">升级所有包</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a class="cat-title">项目管理</a>
            <ul>
                <li><a href="<%= root_path %>/Project-management/1-initProj/index.html">初始化项目</a></li>
                <li><a href="<%= root_path %>/Project-management/2-advantage/index.html">使用edp项目的好处</a></li>
            </ul>
        </li>

        <li><a class="cat-title">项目构建</a>
            <ul>
                <li><a class="cat-title" href="<%= root_path %>/Build/1-build/index.html">构建一个项目</a>
                    <ul>
                        <li><a href="<%= root_path %>/Build/1-build/index.html#指定输出目录">指定输出目录</a></li>
                        <li><a href="<%= root_path %>/Build/1-build/index.html#强制覆盖">强制覆盖</a></li>
                        <li><a href="<%= root_path %>/Build/1-build/index.html#指定构建配置文件">指定构建配置文件</a></li>
                    </ul>
                </li>
                <li><a href="<%= root_path %>/Build/2-buildProc/index.html">构建过程</a></li>
                <li><a href="<%= root_path %>/Build/3-custBuild/index.html">自定义构建</a></li>
            </ul>
        </li>

        <li><a class="cat-title">前端代码静态检测</a>
            <ul>
                <li><a href="<%= root_path %>/Lint/1-codeCheck/index.html">代码检测</a></li>
                <li><a class="cat-title" href="<%= root_path %>/Lint/2-jsCheck/index.html">Javascript代码检测</a>
                    <ul>
                        <li><a href="<%= root_path %>/Lint/2-jsCheck/index.html#自定义jshint配置">自定义jshint配置</a></li>
                        <li><a href="<%= root_path %>/Lint/2-jsCheck/index.html#排除检测文件">排除检测文件</a></li>
                    </ul>
                </li>
                <li><a class="cat-title" href="<%= root_path %>/Lint/3-cssCheck/index.html">CSS代码检测</a>
                    <ul>
                        <li><a href="<%= root_path %>/Lint/3-cssCheck/index.html#自定义csslint配置">自定义csslint配置</a></li>
                        <li><a href="<%= root_path %>/Lint/3-cssCheck/index.html#排除检测文件">排除检测文件</a></li>
                    </ul>
                </li>
                <li><a class="cat-title" href="<%= root_path %>/Lint/4-htmlCheck/index.html">HTML代码检测</a>
                    <ul>
                        <li><a href="<%= root_path %>/Lint/4-htmlCheck/index.html#排除检测文件">排除检测文件</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a class="cat-title">使用WebServer进行调试</a>
            <ul>
                <li><a class="cat-title" href="<%= root_path %>/WebServer/1-startServer/index.html">启动WebServer</a>
                    <ul>
                        <li><a href="<%= root_path %>/WebServer/1-startServer/index.html#指定监听端口">指定监听端口</a></li>
                        <li><a href="<%= root_path %>/WebServer/1-startServer/index.html#指定WebServer配置文件">指定WebServer配置文件</a></li>
                    </ul>
                </li>
                <li><a href="<%= root_path %>/WebServer/2-confServer/index.html">配置WebServer</a></li>
                <li><a href="<%= root_path %>/WebServer/3-resourceFunc/index.html">资源处理函数</a></li>
                <li><a href="<%= root_path %>/WebServer/4-innerResourFunc/index.html">内置资源处理函数</a></li>
                <li><a href="<%= root_path %>/WebServer/5-custResourFunc/index.html">自定义资源处理函数</a></li>
            </ul>
        </li>

        <li><a class="cat-title">扩展自己的EDP命令</a>
            <ul>
                <li><a href="<%= root_path %>/Command-extension/1-BuiltinComd/index.html">Builtin Commands</a></li>
                <li><a href="<%= root_path %>/Command-extension/2-ComdResol/index.html">Command Resolve</a></li>
                <li><a href="<%= root_path %>/Command-extension/3-userComd/index.html">User Commands</a></li>
                <li><a href="<%= root_path %>/Command-extension/4-comdHelp/index.html">Command Help</a></li>
            </ul>
        </li>

        <li><a class="single-title" href="<%= root_path %>/Doctor/doctor/index.html">诊断工具</a></li>
    </ul>
</div>
</aside>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function() {
        $("ul.wrap a").on("click", function() {
            var $this = $(this);
            var $li = $this.parents("li:eq(0)");
            var $ul = $li.children("ul:eq(0)");

            if($($ul)[0].className){
                $ul.removeClass();
                $this.removeClass('open');
            }
            else{
                $ul.addClass("show");
                $this.addClass('open');
            }
            var str = "";
            $("ul.show").each(function(){
                str += $("ul").index($(this)[0]) + " ";
            });
            localStorage.setItem("show_index", str);
        });

        var str = localStorage.getItem("show_index");
        str = str.substring(0, str.length - 1);
        var arr = str.split(" ");
        for(var i = 0; i < arr.length; i++) {
            $("ul:eq(" + arr[i] + ")").addClass("show");
        }

        $("ul.show").siblings("a").addClass('open');

    });


//    var aa = document.getElementsByTagName('a');
////    alert(lis.length);
////    e.stopPropagation();
//
//    for(var i = 0; i < aa.length; i++){
//        if(document.all){
//            aa[i].attachEvent('onclick', toggleList);
//        }
//        else{
//            aa[i].addEventListener('click', toggleList, false);
//        }
//    }
//    function toggleList(e){
//        var e = e || window.event;
//        var childList = e.srcElement.parentElement.getElementsByTagName('ul');
////        alert(childList.length);
//        if(childList.length > 0) {
////            alert(childList[0].className);
//            if(childList[0].className) {
//                childList[0].removeAttribute('class');
//            }
//            else {
//                childList[0].setAttribute('class', 'show');
//            }
//        }
//
////        alert(typeof(e.srcElement.parentElement) );
//    }
</script>