<%- partial('_partial/head_post') %>
<body>
<%- partial('_partial/header', {nologo: 0}) %>

<div class="wrap">
    <%- partial('_partial/sider', {root_path: url_for('doc')}) %>
    <section id="main">
        <%- partial('_partial/article', {post: page}) %>    
    </section>
</div>

<%- partial('_partial/footer') %>

</body>
</html>